.container {
  padding: 2.5rem;
  border-radius: 10px;
  background-color: #ffffff;
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_field {
  position: relative;
}

.input_field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}

.input_field input {
  padding: 10px 3.2rem 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #8d8d8d;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}

.input_field input[type="email"] {
  padding: 10px 16px;
}

.input_field input:focus,
.input_field input:valid {
  outline: none;
  border: solid 1px #0034de;
}

.input_field input:focus ~ label,
.input_field input:valid ~ label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #ffffff;
  padding: 0px 5px;
  color: #0034de;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-weight: 500;
  transition: all 0.2s ease;
  padding: 10px 20px;
  border-radius: 100px;
  background: #00bff9;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.btn:hover {
  background: #00afe3;
}

.btn > svg {
  width: 16px;
  margin-right: 4px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
